{% load static %}

{% if profile.mbti == 'ISTJ' %}
    <img class="rect" src="{% static 'icon/mbti/ISTJ.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ISFJ' %}
    <img class="rect" src="{% static 'icon/mbti/ISFJ.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'INFJ' %}
    <img class="rect" src="{% static 'icon/mbti/INFJ.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'INTJ' %}
    <img class="rect" src="{% static 'icon/mbti/INTJ.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ISTP' %}
    <img class="rect" src="{% static 'icon/mbti/ISTP.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ISFP' %}
    <img class="rect" src="{% static 'icon/mbti/ISFP.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'INFP' %}
    <img class="rect" src="{% static 'icon/mbti/INFP.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'INTP' %}
    <img class="rect" src="{% static 'icon/mbti/INTP.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ESTJ' %}
    <img class="rect" src="{% static 'icon/mbti/ESTJ.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ESFJ' %}
    <img class="rect" src="{% static 'icon/mbti/ESFJ.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ENFJ' %}
    <img class="rect" src="{% static 'icon/mbti/ENFJ.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ENTJ' %}
    <img class="rect" src="{% static 'icon/mbti/ENTJ.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ESTP' %}
    <img class="rect" src="{% static 'icon/mbti/ESTP.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ESFP' %}
    <img class="rect" src="{% static 'icon/mbti/ESFP.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ENFP' %}
    <img class="rect" src="{% static 'icon/mbti/ENFP.png' %}" style="width: 110px;height: 110px;">
{% elif profile.mbti == 'ENTP' %}
    <img class="rect" src="{% static 'icon/mbti/ENTP.png' %}" style="width: 110px;height: 110px;">
{% endif %}