<nav class="navbar bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="justify-content-end">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">로그인</a>  <!-- 로그인 페이지 삽입 요망 -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">회원가입</a> <!-- 회원 가입 페이지 삽입 요망 -->
          </li>
        </ul>
      </div>
    </div>
</nav>

