<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-3 bd-sidebar">
      <ul class="nav" style="list-style-type: circle;">
        <li class="nav-item">
          MBTI

        <ul class="nav btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <li class="nav-item">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck1">ISTJ</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 100;" type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck2">ISFJ</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck3">INFP</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck4">ISFP</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck5">INFJ</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck6">INTJ</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck7">ISTP</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck8">INTP</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck9" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck9">ESFJ</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck10" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck10">ESTJ</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck11" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck11">ENFP</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck12" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck12">ESFP</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck13" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck13">ENFJ</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck14" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck14">ENTJ</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck15" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck15">ESTP</label>
          </li>
          <li class="nav-item">
            <input style="opacity: 0;" type="checkbox" class="btn-check" id="btncheck16" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck16">ENTP</label>
          </li>
        </ul>
        <li class="nav-item"><a href="#">MBTI 검사</a></li>
      </ul>
    </div>
  </div>
</div>
