{% load static %}
<div class="input-group mb-3">
    <label class="input-group-append input-group-text" for="Sport_type">관심 스포츠</label>
    <p class="form-control text-center">
        아래의 항목 중 관심 있는 운동 종목을 한가지 선택하세요</p>
</div>

<div class="input-group">
    <div class="input-group-append">
    <input type="radio" class="btn-check col" name="Sport_type" id="Sport_type1" value="댄스" autocomplete="off" />
    <label class="btn btn-outline-secondary" for="Sport_type1">댄스
        <img src="{% static 'icon/dancing.svg' %}">
    </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type2" value="골프" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type2">골프
            <img src="{% static 'icon/golf.svg' %}">
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type3" value="러닝" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type3">러닝
            <img src="https://files.sportpartner.com/assets/images/sports/running.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type4" value="걷기" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type4">걷기
            <img src="https://files.sportpartner.com/assets/images/sports/walking.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type5" value="자전거" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type5">자전거
            <img src="https://files.sportpartner.com/assets/images/sports/cycling.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type6" value="헬스" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type6">헬스
            <img src="https://files.sportpartner.com/assets/images/sports/fitness.svg"
            >
        </label>
    </div>

    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type7" value="테니스" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type7">테니스
            <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/9717f77a-c366-4f66-9a2b-09dbfd17694f.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type8" value="패들" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type8">패들
            <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/8b7f5d07-fc46-4820-8edb-e2f7f8094586.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type9" value="하이킹" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type9">하이킹
            <img src="https://files.sportpartner.com/assets/images/sports/hiking.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type10" value="클라이밍" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type10">클라이밍
            <img src="https://files.sportpartner.com/assets/images/sports/climbing.svg"
            >
        </label>
    </div>
    <div class="input-group-append ">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type11" value="보트타기" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type11">보트 타기
            <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/f0a07a11-fbc6-49e2-9264-d3afd6b290d5.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type12" value="낚시" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type12">낚시
            <img src="https://files.sportpartner.com/assets/images/sports/fishing.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type13" value="스쿼시" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type13">스쿼시
            <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/c5c724e1-7b03-4820-80e0-2fb6d15e7641.svg"
            >
        </label>
    </div>

    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type14" value="수영" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type14">수영
            <img src="https://files.sportpartner.com/assets/images/sports/swimming.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type15" value="스케이팅" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type15">스케이팅
            <img src="https://files.sportpartner.com/assets/images/sports/skating.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type16"value="인라인스케이팅" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type16">인라인 스케이팅
            <img src="https://files.sportpartner.com/assets/images/sports/iceskating.svg">
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type17" value="브리지" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type17">브리지
            <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/fecd876a-5680-49d8-9c41-676509106e67.svg">
        </label>
    </div>
    <div class="input-group-append ">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type18" value="배드민턴" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type18">배드민턴
            <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/b26704a2-06fc-4831-8136-6a58abe51272.svg"
            >
        </label>
    </div>
    <div class="input-group-append">
        <input type="radio" class="btn-check" name="Sport_type" id="Sport_type19" value="스키" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="Sport_type19">스키
            <img src="https://files.sportpartner.com/assets/images/sports/skiing.svg">
        </label>
    </div>
</div>
