{% load static %}

{% if article.Sport_type == '댄스' %}
    <img class="img-fluid" src="{%  static 'workout_images/dance.jpg' %}">
{% elif article.Sport_type == '골프' %}
    <img class="img-fluid" src="{% static 'workout_images/golf.jpg' %}">
{% elif article.Sport_type == '러닝' %}
    <img class="img-fluid" src="{% static 'workout_images/running.jpg' %}" alt="러닝">
{% elif article.Sport_type == '걷기' %}
    <img class="img-fluid" src="{% static 'workout_images/walking.jpg' %}">
{% elif article.Sport_type == '헬스' %}
    <img class="img-fluid" src="{% static 'workout_images/weight_training.jpg' %}">
{% elif article.Sport_type == '테니스' %}
    <img class="img-fluid" src="{% static 'workout_images/tennis.jpg' %}">
{% elif article.Sport_type == '패들' %}
    <img class="img-fluid" src="{% static 'workout_images/paddle.jpg' %}">
{% elif article.Sport_type == '하이킹' %}
    <img class="img-fluid" src="{% static 'workout_images/hiking.jpg' %}">
{% elif article.Sport_type == '클라이밍' %}
    <img class="img-fluid" src="{% static 'workout_images/climbing.jpg' %}">
{% elif article.Sport_type == '보트타기' %}
    <img class="img-fluid" src="{% static 'workout_images/boating.jpg' %}">
{% elif article.Sport_type == '낚시' %}
    <img class="img-fluid" src="{% static 'workout_images/fishing.jpg' %}">
{% elif article.Sport_type == '스쿼시' %}
    <img class="img-fluid" src="{% static 'workout_images/squash.jpg' %}">
{% elif article.Sport_type == '수영' %}
    <img class="img-fluid" src="{% static 'workout_images/swimming.jpg' %}">
{% elif article.Sport_type == '스케이팅' %}
    <img class="img-fluid" src="{% static 'workout_images/skating.jpg' %}">
{% elif article.Sport_type == '인라인스케이팅' %}
    <img class="img-fluid" src="{% static 'workout_images/inline_skating.jpg' %}">
{% elif article.Sport_type == '브리지' %}
    <img class="img-fluid" src="{% static 'workout_images/card_game.jpg' %}">
{% elif article.Sport_type == '배드민턴' %}
    <img class="img-fluid" src="{% static 'workout_images/badminton.jpg' %}">
{% elif article.Sport_type == '스키' %}
   <img class="img-fluid" src="{% static 'workout_images/ski.jpg' %}" >
{% endif %}