{% load static %}

{% if article.Sport_type == '댄스' %}
    <img class="img-fluid" src="{% static 'images/sport/dancing.jpg' %}" style="height:100%; width:100%" alt="댄스">
<!--    {% static 'icon/cycling.svg' %}-->
{% elif article.Sport_type == '골프' %}
    <img class="img-fluid" src="{% static 'images/sport/golf.jpg' %}" style="height:100%; width:100%" alt="골프">
{% elif article.Sport_type == '러닝' %}
    <img class="img-fluid" src="{% static 'images/sport/running.jpg' %}" style="height:100%; width:100%" alt="러닝">
{% elif article.Sport_type == '걷기' %}
    <img class="img-fluid" src="{% static 'images/sport/walking.jpg' %}" style="height:100%; width:100%" alt="걷기">
{% elif article.Sport_type == '헬스' %}
    <img class="img-fluid" src="{% static 'images/sport/health.jpg' %}" style="height:100%; width:100%" alt="헬스">
{% elif article.Sport_type == '테니스' %}
    <img class="img-fluid" src="{% static 'images/sport/tennis.jpg' %}" style="height:100%; width:100%" alt="테니스">
{% elif article.Sport_type == '패들' %}
    <img class="img-fluid" src="{% static 'images/sport/paddle.jpg' %}" style="height:100%; width:100%" alt="패들">
{% elif article.Sport_type == '하이킹' %}
    <img class="img-fluid" src="{% static 'images/sport/hiking.jpg' %}" style="height:100%; width:100%" alt="하이킹">
{% elif article.Sport_type == '클라이밍' %}
    <img class="img-fluid" src="{% static 'images/sport/climbing.jpg' %}" style="height:100%; width:100%" alt="클라이밍">
{% elif article.Sport_type == '보트타기' %}
    <img class="img-fluid" src="{% static 'images/sport/boating.jpg' %}" style="height:100%; width:100%" alt="보트타기">
{% elif article.Sport_type == '낚시' %}
    <img class="img-fluid" src="{% static 'images/sport/fishing.jpg' %}" style="height:100%; width:100%" alt="낚시">
{% elif article.Sport_type == '스쿼시' %}
    <img class="img-fluid" src="{% static 'images/sport/squash.jpg' %}" style="height:100%; width:100%" alt="스쿼시">
{% elif article.Sport_type == '수영' %}
    <img class="img-fluid" src="{% static 'images/sport/swimming.jpg' %}" style="height:100%; width:100%" alt="수영">
{% elif article.Sport_type == '스케이팅' %}
    <img class="img-fluid" src="{% static 'images/sport/skating.jpg' %}" style="height:100%; width:100%" alt="스케이팅">
{% elif article.Sport_type == '인라인스케이팅' %}
    <img class="img-fluid" src="{% static 'images/sport/inline_skating.jpg' %}" style="height:100%; width:100%" alt="인라인스케이팅">
{% elif article.Sport_type == '브리지' %}
    <img class="img-fluid" src="{% static 'images/sport/card_game.jpg' %}" style="height:100%; width:100%" alt="브리지">
{% elif article.Sport_type == '배드민턴' %}
    <img class="img-fluid" src="{% static 'images/sport/badminton.jpg' %}" style="height:100%; width:100%" alt="배드민턴">
{% elif article.Sport_type == '자전거' %}
    <img class="img-fluid" src="{% static 'images/sport/cycling.jpg' %}" style="height:100%; width:100%" alt="자전거">
{% elif article.Sport_type == '스키' %}
    <img class="img-fluid" src="{% static 'images/sport/skiing.jpg' %}" style="height:100%; width:100%" alt="스키">
{% endif %}