{% extends 'base.html' %}
{% block content %}
    {% for article in article_list %}
        <div class="row my-3">
            <div class="col-1">
                <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
                    {{ article.voter.count }}
                </div>
                <!--페이징 처리 시작-->
                    <div class="align-left text-center">

                            <!--    이전페이지  -->
                        {% if article_list.has_previous %}
                            <a class="page-link"
                               href="?page={{ article_list.previous_page_number }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>

                        {% else %}
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>

                        {% endif %}
                            <!--페이지 리스트-->
                        <div class="bg-light text-center p-3 border font-weight-bolder mb-1" >{{article_list.number}}</div>
                        <!--    다음페이지 -->
                        {% if article_list.has_next %}

                            <a class="page-link"
                               href="?page={{ article_list.next_page_number }}">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">#}
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                               </svg>
                            </a>
                        {% else %}
                            <a class="page-link disabled" tabindex="-1" aria-disabled="true" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">#}
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        {% endif %}

                        <!--페이징 처리 끝-->
                    </div>
            </div>

            <div class="col-11"><!--매칭개시글-->
                <div class="card my-3" >
                    <div class="card-body" >
                            <table class="table">
                                <thead>
                                 <tr class="text-center thead-dark">
                                    <th style="width: 50%">제목</th>
                                    <th>글쓴이</th>
                                    <th>작성일시</th>
                                </tr>
                                </thead>
                                <tr class="text-center">

                                    <td class="text-left">
                                        <a href="{%url 'pybo:article_detail' article.id %}">{{ article.subject }}</a>

                                    </td>
                                    <td>{{ article.author.username }}</td>
                                    <td>{{ article.create_date }}</td>
                            </table>





                        <!-- 개시글 내용-->
                        <div class="card-text" style="white-space:pre-line;">
                            {{article.content}}
                        </div>
                        <div class="d-flex justify-content-end">

                            {% if article.modify_date %}
                                <div class="badge badge-light p-2 text-left mx-3">
                                    <div class="mb-2">modified at</div>
                                    <div>{{ article.modify_date }}</div>
                                </div>
                            {% endif %}
                            <div class="badge badge-light p-2 text-left">
                                <div class="mb-2">{{ article.author.username }}</div>
                                <div>{{article.create_date}}</div>
                            </div>
                        </div>
                        {% if request.user == article.author %}
                            <div class="my-3">
                                <a href="{% url 'pybo:article_modify' article.id %}"
                                   class="btn btn-sm btn-outline-secondary">수정</a>
                                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                                   data-uri="{% url 'pybo:article_delete' article.id %}">삭제</a>

                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div>
        <a href="{% url 'pybo:article_create' %}" class="btn btn-primary">매칭 등록하기 </a>
    </div>


{% endblock %}