{% extends 'base.html' %}
{% load posting_filter %}
{% block content %}
    {% for answer in answer_list %}
        <div class="row my-3">
            <div class="col-1">
                <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
                    {{ answer.voter.count }}
                </div>
                <!--페이징 처리 시작-->
                    <div class="align-left text-center">

                            <!--    이전페이지  -->
                        {% if answer_list.has_previous %}
                            <a class="page-link"
                               href="?page={{ answer_list.previous_page_number }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>

                        {% else %}
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </a>

                        {% endif %}
                            <!--페이지 리스트-->
                        <div class="bg-light text-center p-3 border font-weight-bolder mb-1" >{{answer_list.number}}</div>
                        <!--    다음페이지 -->
                        {% if answer_list.has_next %}

                            <a class="page-link"
                               href="?page={{ answer_list.next_page_number }}">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">#}
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                               </svg>
                            </a>
                        {% else %}
                            <a class="page-link disabled" tabindex="-1" aria-disabled="true" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">#}
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </a>
                        {% endif %}

                        <!--페이징 처리 끝-->
                    </div>
            </div>

            <div class="col-11"><!--답변 영역-->
                <div class="card my-3" >
                    <div class="card-body" >
                        <!-- 답변 댓글 Start-->
                        <div class="card-text" style="white-space:pre-line;">
                            {{answer.content|mark}}
                        </div>
                        <div class="d-flex justify-content-end">

                            {% if answer.modify_date %}
                                <div class="badge badge-light p-2 text-left mx-3">
                                    <div class="mb-2">modified at</div>
                                    <div>{{ answer.modify_date }}</div>
                                </div>
                            {% endif %}
                            <div class="badge badge-light p-2 text-left">
                                <div class="mb-2">{{ question.author.username }}</div>
                                <div>{{answer.create_date}}</div>
                            </div>
                        </div>
                        {% if request.user == answer.author %}
                            <div class="my-3">
                                <a href="{% url 'pybo:answer_modify' answer.id %}"
                                   class="btn btn-sm btn-outline-secondary">수정</a>
                                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                                   data-uri="{% url 'pybo:answer_delete' answer.id %}">삭제</a>

                            </div>
                        {% endif %}
                        <!--댓글 부분-->
                         {% if answer.comment_set.count > 0  %}
                            <div class="mt-3">
                                {% for comment in answer.comment_set.all %}
                                    <a name="comment_{{ comment.id }}"></a>
                                    <div class="comment py-2 text-muted">
                                        <span style="white-space: pre-line;">{{ comment.content }}</span>
                                        <span>
                                            -{{ comment.author }},{{ comment.create_date }}
                                            {% if comment.modify_date %}
                                                (수정:{{ comment.modify_date }})
                                            {% endif %}
                                        </span>
                                        {% if request.user == comment.author %}
                                            <a href="{% url 'pybo:comment_modify_answer' comment.id %}"
                                               class="small">수정</a>
                                            <a href="#" class="small delete"
                                               data-uri="{% url 'pybo:comment_delete_answer' comment.id %}">
                                                삭제
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div>
                            <a href="{% url 'pybo:comment_create_answer' answer.id %}"
                               class="small"><small>댓글 추가 ..</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div>
        <a href="{% url 'pybo:article_create' %}" class="btn btn-primary">질문 등록하기</a>
    </div>
{% endblock %}