{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row my-3">
        <div class="col-5">
            <h4>{{ user }}'s 마이페이지</h4>
        </div>
        <div class="col text-right">
            <span><a href="{% url 'common:profile' %}">프로필 생성하기</a></span>
        </div>
    </div>
    <form action="{% url 'common:profile_update' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}


        <div class="row">
            <div class="col-xs-6 col-md-3">
                {% if profile_user.profile.profile_photo %}
                <img class="round" src="{{profile_user.profile.profile_photo.url}}" width="200"> <br>
                {% else %}
                <img class="round" src="" width="200">
                <br>
                {% endif %}
            </div>

            <div class="col-xs-6 col-md-3">
                {% if user.nickname %}
                <h2>{{user.nickname}}</h2>
                {% endif %}
                {% if user == user %}
                <!-- 로그인한 사용자와 profile_user(프로필 소유자)가 일치할 때만 프로필 편집이 가능하도록 함 -->
                <a href="#">
                    <button type="button" class="btn btn-outline-secondary">프로필 편집</button>
                </a>
                {% endif %}
                <h4> username: {{ user }} </h4>
                <h4> name: {{ user.first_name }}{{ user.last_name }}</h4>
                <h4> birth: {{ profile.birth }}</h4>
                <h4> MBTI: {{ profile.mbti }}</h4>
            </div>
        </div>
    </form>
</div>


{% endblock %}
