{% extends "base.html" %}
{% block content %}

<!--
{#    <h5>{{ profile.count }}</h5>#}
{#<div>#}
{#    <ul>#}
{# {% for profile in %} #}
{#    </ul>    #}
{#</div>#}
{#<br>#} -->

<div class="container">
    <div class="row my-3">
        <div class="col-5">
            <h4>프로필 입력</h4>
        </div>
    </div>
    <form action="{% url 'common:profile' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <!-- 닉네임 -->
        <div class="input-group mb-3">
            <label class="col-3 input-group-text" for="nickname">닉네임</label>
            <input type="text" class="form-control" name="nickname" id="nickname"
                   value="{{ form.nickname.value|default_if_none:'' }}">
        </div>

        <!-- 프로필 삽입 -->
        <div class="input-group">
            <label class="col-3 input-group-text">프로필 사진</label>
            <input class="form-control" type="file" name="images" accept="image/*">
            <input class="input-group-text" type="submit" value="이미지 등록">
        </div>
        <br/>

        <!-- 생년월일(나이) -->
        <div class="input-group mb-3">
            <label class="col-3 input-group-text" for="birthdate">생년월일</label>
            <input type="date" class="form-control text-center" name="birthdate" id="birthdate">
        </div>
        <br/>

        <!-- MBTI 선택 -->
        <div class="input-group mb-3">
            <label class="col-3 input-group-text" for="mbti2">MBTI 선택</label>
            <select class="form-select" id="mbti2">
                <option selected="" class="text-center">===== 선택하세요 =====</option>
                <option value="ISTJ">ISTJ - 청렴결백한 논리주의자</option>
                <option value="ISFJ">ISFJ - 용감한 수호자</option>
                <option value="INFJ">INFJ - 선의의 옹호자</option>
                <option value="INTJ">INTJ - 용의주도한 전략가</option>
                <option value="ISTP">ISTP - 만능 재주꾼</option>
                <option value="ISFP">ISFP - 호기심 많은 예술가</option>
                <option value="INFP">INFP - 열정적인 중재자</option>
                <option value="INTP">INTP - 논리적인 사색가</option>
                <option value="ESTJ">ESTJ - 엄격한 관리자</option>
                <option value="ESFJ">ESFJ - 사교적인 외교관</option>
                <option value="ENFJ">ENFJ - 정의로운 사회운동가</option>
                <option value="ENTJ">ENTJ - 대담한 통솔자</option>
                <option value="ESTP">ESTP - 모험을 즐기는 사업가</option>
                <option value="ESFP">ESFP - 자유로운 영혼의 연예인</option>
                <option value="ENFP">ENFP - 재기 발랄한 활동가</option>
                <option value="ENTP">ENTP - 논쟁을 즐기는 변론가</option>
            </select>
        </div>

        <!-- 관심 운동 -->
        <label for="workout">운동</label>
        <div class="container text-center">

            <input type="checkbox" class="btn-check" id="btn-check1" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check1">댄스
                <img src="https://files.sportpartner.com/assets/images/sports/dancing.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check2" checked autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check2">골프
                <img src="https://files.sportpartner.com/assets/images/sports/golf.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check3" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check3">러닝
                <img src="https://files.sportpartner.com/assets/images/sports/running.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check4" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check4">걷기
                <img src="https://files.sportpartner.com/assets/images/sports/walking.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check5" checked autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check5">자전거
                <img src="https://files.sportpartner.com/assets/images/sports/cycling.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check6" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check6">헬스
                <img src="https://files.sportpartner.com/assets/images/sports/fitness.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check7" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check7">테니스
                <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/9717f77a-c366-4f66-9a2b-09dbfd17694f.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check8" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check8">패들
                <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/8b7f5d07-fc46-4820-8edb-e2f7f8094586.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check9" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check9">하이킹
                <img src="https://files.sportpartner.com/assets/images/sports/hiking.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check10" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check10">클라이밍
                <img src="https://files.sportpartner.com/assets/images/sports/climbing.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check11" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check11">보트 타기
                <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/f0a07a11-fbc6-49e2-9264-d3afd6b290d5.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check12" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check12">낚시
                <img src="https://files.sportpartner.com/assets/images/sports/fishing.svg"></label>

            <input type="checkbox" class="btn-check" id="btn-check13" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="btn-check13">스쿼시
                <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/c5c724e1-7b03-4820-80e0-2fb6d15e7641.svg"></label>

            <input type="checkbox" class="btn-check" id="14" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="14">수영
                <img src="https://files.sportpartner.com/assets/images/sports/swimming.svg"></label>

            <input type="checkbox" class="btn-check" id="15" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="15">스케이팅
                <img src="https://files.sportpartner.com/assets/images/sports/skating.svg"></label>

            <input type="checkbox" class="btn-check" id="16" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="16">인라인 스케이팅
                <img src="https://files.sportpartner.com/assets/images/sports/iceskating.svg"></label>

            <input type="checkbox" class="btn-check" id="17" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="17">브리지
                <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/fecd876a-5680-49d8-9c41-676509106e67.svg"></label>

            <input type="checkbox" class="btn-check" id="18" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="18">배드민턴
                <img src="https://sportpartner-prd.s3.eu-central-1.amazonaws.com/b26704a2-06fc-4831-8136-6a58abe51272.svg"></label>

            <input type="checkbox" class="btn-check" id="19" autocomplete="off"/>
            <label class="btn btn-outline-primary" for="19">스키
                <img src="https://files.sportpartner.com/assets/images/sports/skiing.svg"></label>

        </div>


        <!-- 자기소개 (취미, 주량, ... 등 )-->
        <div class="form-group">
            <label class="input-group-text" for="profile">자기소개</label>
            <textarea class="form-control" id="profile" rows="3"
                      placeholder="취미, 주량 등 자유롭게 자기소개를 적어주세요!"></textarea>
        </div>

        <!-- 연락 받을 오픈 채팅 url 링크 입력 -->
        <div class="form-group">
            <label class="input-group-text" for="link">오픈채팅 url 링크를 넣어주세요</label>
            <input type="url" class="form-control" name="link" id="link"
                   placeholder="카카오톡 오픈채팅 링크 입력">
        </div>
        <button type="submit" class="btn btn-secondary">저장하기</button>
        <button type="submit" class="btn btn-outline-secondary">수정하기</button>
        <button type="reset" class="btn btn-dark">초기화</button>
    </form>
</div>


{% endblock %}
